/*  your css code here. If applicable */
.container{
	display:flex;
	flex-direction:column;
	background:rgb(246,247,251);
	width:500px;
	height:200px;
	gap:25px;
	justify-content:center;
	
	
}
.bar{
	display:flex;
	font-weight:300;
	color:#9C9CA6;
	text-align:center;
	justify-tracks:center;
	justify-content:center;
}
.buttons{
	display :flex;
	align-self:center;	
	gap:15px;
}
.circle{
	width:30px;
	height:30px;
	background:white;
	border-radius:20px;
	border:3px solid rgb(224,224,224);
}
.line{
	width:40px;
	height:4px;
	background:rgb(224,224,224);;
	align-self:center;
}
.prev,.next{
	border:0;
	width:80px;
	height:35px;
	color:white;
	background:rgb(52,152,219);
	border-radius:10px;
}
#1{
	border:5px solid red;
	background:blue;
}

